## Ignore test files
TEST/ABA622/
TEST/O00_09_2/
TEST/I00_09_3/mapping/I00_09_3.sorted.bam.bai
TEST/I00_09_3/mapping/I00_09_3.sorted.bam
TEST/I00_09_3/data/I00_09_3.bedgraph
TEST/I00_09_3/trimmed
TEST/I00_09
PS_second
I00_09
